{% load i18n %}
{% load juntagrico.config %}
<div class="row mt-3">
    <div class="col-md-2">
        {% trans "Inhalt" %}
    </div>
    <div class="col-md-4">
        {% trans "Deine Bedürfnisse haben sich geändert und du möchtest die Zusammenstellung deines Abos ändern?" %} {% trans "Änderungen sind dreimal jährlich möglich - bis Mitte Dezember (gültig ab Januar), bis Mitte April (gültig ab Mai) und bis Mitte Juli (gültig nach der Sommerpause). Sonst auf Anfrage bei der Betriebsgruppe." %}
    </div>
    <div class="col-md-4">
        {% trans "Aktuell" %}: <br/>
        {% for content in subscription.custom.display_content %}
            {{ content }}<br/>
        {% endfor %}
        <br/>
        {% trans "Zukünftig" %}: <br/>
        {% for content in subscription.custom.display_future_content %}
            {{ content }}<br/>
        {% endfor %}
    </div>
    <div class="col-md-2">
        <a href="{% url 'content_edit' subscription.id %}" class="btn btn-success">
            {% blocktrans %}Inhalt ändern{% endblocktrans %}
        </a>
    </div>
</div>