git+http://github.com/mybasimilch/juntagrico.git@suggested_features_for_juntagrico
git+http://github.com/juntagrico/juntagrico-custom-sub.git@master
git+http://github.com/mybasimilch/juntagrico-list-gen@master
git+http://github.com/mybasimilch/juntagrico-depot-management.git@main