html, body {
    background-color: #ffffff;
}

/*Button*/
.btn-success {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-success:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(135, 181, 222,.5);
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(135, 181, 222,.5);
}

a {
    color: #337ab7;
}

.page-title h3, .allcontent h3{
    color: #337ab7;
}

.juntagrico-logo, #home .juntagrico-logo {
    background: url(/static/img/basimilch_logo_small.png) center center;
    display: inline-block;
    width: 500px;
    height: 173px;
}

/* Nav */
.nav-link:hover {
    color: #337ab7;
}

.nav-link.active, .nav-link.active:focus{
    color: #337ab7;
}

/* Misc */
.switch input:checked + label::before {
    background-color: #337ab7;
}

.details-control, .shown .details-control {
    color: #337ab7;
}